@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #00425A;
    --cor-secundaria: #BFDB38;
    --cor-terciaria: #FC7300;
    --cor-hover: #1F8A70;

    --fonte-primaria: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* height: 100%; */
}

.cabecalho {
    margin: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__links {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-style: normal;
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.apresentacao__links__redes-sociais {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 22px 0;
    width: 50%;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links__redes-sociais:hover {
    background-color: var(--cor-hover);    
    box-shadow: 3.0px 3.0px 12px var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}